{
    margin:0;
    padding:0;  
}

body{
    background: url(chisapani.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size:20px;
}

h2 {
    font-size:30px;
    color: #66CCFF;
    font-family: Calibri Light (Headings);
}

form{
    margin:40px;
}

label{
    font-family: Calibri Light (Headings);
}

input{
    font-family: Calibri Light (Headings);
    width:300px;
    padding: 10px;
}
